@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/gray-dark.css';
@import '@radix-ui/colors/red-dark.css';
@import '@radix-ui/colors/black-alpha.css';

body {
  height: 100vh;
}

.main-container {
  height: 100svh;
  background-color: var(--gray-1);
  color: var(--gray-12);
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  padding: 10px 42px 0px;
}

.header-sword {
  height: 40px;
}

.box {
  flex: 1;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;          
  font-size: 21px;
  margin-right: 30px;
}

.log-reg {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
}

.login {
  margin-right: 18px;
  cursor: pointer;
}

.reg-container {
  background-color: var(--gray-12);
  border-radius: 20px;
  cursor: pointer;
}

.register {
  color: var(--gray-1);
  padding: 2px 12px 4px;
}

/* ------------------------------------------------------------------------------ */

.content-container {
  width: 100%;
  padding: 0px 42px;
  display: flex;
  justify-content: center;
}

.search-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}

.searchbar {
  display: flex;
  width: 100%;
  height: 40px;
  border: 2px solid var(--gray-12);
  margin: 30px 0px;
}

.search-sword {
  height: 30px;
  margin-right: 6px;
}

input {
  all: unset;
  width: 92%;
  margin: 1px 8px 2px;
  font-size: 20px;
}

button {
  all: unset;
  width: 8%;
  background-color: var(--gray-12);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

h2 {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 30px;
}

section {
  flex: 1;
  width: 100%;
  padding: 0px 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}
 
::-webkit-scrollbar-thumb {
  background: darkgrey; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: grey; 
}

::-webkit-scrollbar-button {
  display: none;
}

.section-container {
  max-width: 1000px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.games-container {
  height: 100%;
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.game {
  width: calc((100% - (5 - 1) * 20px) / 5);
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
  .game {
    width: calc((100% - (4 - 1) * 20px) / 4);
  }
}

@media screen and (max-width: 700px) {
  .game {
    width: calc((100% - (3 - 1) * 20px) / 3);
  }
}

@media screen and (max-width: 540px) {
  .game {
    width: calc((100% - (2 - 1) * 20px) / 2);
  }

  .search-container {
    align-items: center;
  }

  .searchbar {
    margin: 0px;
  }

  h2 {
    margin: 5px;
  }
}

.cover-container {
  height: 80%;
  border-radius: 5px;
  box-shadow: 0px 5px 10px -1px black;
  cursor: pointer;
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.info-container {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

h3 {
  font-weight: 400;
  font-size: 19px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  margin-bottom: 2px;
}

.average-rating {
  display: flex;
  align-items: center;
  background-color: var(--gray-10);
  padding: 3px;
  border-radius: 5px;
  width: fit-content;
}

.number {
  color: var(--gray-1);
  font-size: 23px;
  padding: 0 4px 7px 0;
  cursor: default;
  line-height: 1px;
}

.star {
  width: 21px;
  height: 21px;
  color: #FAAE01;
}

/* ------------------------------------------------------------------------------ */

footer {
  height: 60px;
  width: 100%;
  background-color: var(--gray-1);
  border-top: 1px solid var(--gray-12);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  color: var(--gray-12);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  padding: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.icon:hover,
.icon:focus {
  background-color: var(--gray-8);
}

.github {
  display: flex;
  align-items: center;
  margin-right: 3px;
}

.mode {
  all: unset;
  display: flex;
  align-items: center;
  margin-left: 3px;
}