@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/gray-dark.css';
@import '@radix-ui/colors/red-dark.css';
@import '@radix-ui/colors/black-alpha.css';

body {
  height: 100vh;
}

.main-container {
  height: 100svh;
  background-color: var(--gray-1);
  color: var(--gray-12);
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  padding: 10px 42px;
}

img {
  height: 40px;
}

.box {
  flex: 1;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;          
  font-size: 21px;
}

.log-reg {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
}

.login {
  margin-right: 18px;
  cursor: pointer;
}

.reg-container {
  background-color: var(--gray-12);
  border-radius: 20px;
  cursor: pointer;
}

.register {
  color: var(--gray-1);
  padding: 2px 12px 4px;
}

section {
  flex: 1;
}

footer {
  height: 60px;
  width: 100%;
  background-color: var(--gray-12);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  color: var(--gray-1);
  width: 35px;
  height: 35px;
  border-radius: 100%;
  padding: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.icon:hover,
.icon:focus {
  background-color: var(--gray-11);
}

.github {
  display: flex;
  align-items: center;
  margin-right: 3px;
}

.mode {
  all: unset;
  display: flex;
  align-items: center;
  margin-left: 3px;
}